{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

  <section>
    <h2>Post a new message</h2>

    <form method="post" action="/message">
            <label>
      Post title
      <input type="text" name="title" required>
      </label>
            <label>
      Post:
      <input type="text
      " name="body" required>
      </label>
      <button >Submit</button>
    </form>
    </section>

{% endblock %}

