{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>List of messages</h2>
    <a href="/message_new">Post a new message</a>


    <section id="messages">

        {% for messag in message %}
        <section id="message">
            <h3> {{messag.title}} </h3>
            <h4>{{messag.username}}</h4>
            <p>{{messag.body}}</p>

             {% if session.logged_in and messag.user_id == session.user.id %}
                <a href="/message/{{messag.id}}/edit"</a>
                    {% endif %}
            
</section>

        {% else %}

            <p>no messages</p>

        {% endfor %}

    </section>

{% endblock %}

