{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

  <section>
    <h2>Edit a message</h2>

    <form method="post" action="/message/{{message.id}}/update">
            <label>
      Post title
      <input type="text" name="title" required value="{{ message.title }}">
      </label>
            <label>
      Post:
      <input type="text
      " name="body" required value="{{message.body}}">
      </label>
      <button >Edit your message</button>
    </form>
    </section>



{% endblock %}

