{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <section id="messages">
    <h2>List of messages</h2>
    <a href="/message_new">Post a new message</a>
</section>



        {% for messag in message %}
        <section id="message">
            <h3> {{messag.title}} </h3>
            <h4>{{messag.username}}</h4>
            <p>{{messag.body}}</p>

             {% if (session.logged_in and messag.user_id == session.user.id) or (session.user.admin==1) %}
                <a href="/message/{{messag.id}}/edit">edit message</a>
                <a href="/message/{{messag.id}}/delete">delete message</a>
                    {% endif %}
           
            {% if (session.logged_in)%}
            <a href="/message/{{messag.id}}">View replies</a>
            {% endif %}
        
 
</section>
 
        {% else %}

            <p>no messages</p>

        {% endfor %}

  

{% endblock %}

