{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Signup</h2>

    <form method="post" action="/user">
      <label>
      Forename 
      <input type="text" name="forename" required>
      </label>
            <label>
      Surname 
      <input type="text" name="surname" required>
      </label>
            <label>
      Username
      <input type="text" name="username" required>
      </label>
            <label>
      password
      <input type="password" name="password" required>
      </label>
      <button >Submit</button>
    </form>

{% endblock %}

