/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --accent-col: #530306;
    --base-col: #FFFFF;
   
    
    --padding: 1rem;
    --padding-sm: 0.5rem;

    --gap: 1rem;

   

    --base-col-lighter: color-mix(in srgb, var(--base-col), #fff 50%);
    --base-col-darker: color-mix(in srgb, var(--base-col), #000 75%);
    --base-col-light: color-mix(in srgb, var(--base-col), #fff 75%);
    --base-col-dark: color-mix(in srgb, var(--base-col), #000 90%);

    --text-col: #C7BEBA;

    --page-bg:var(--base-col-light);

    --panel-bg: var(--base-col-lighter)


}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--base-col);
    color: var(--text-col);

    font-family: scientifica;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Creature List --------------------------------------------------*/

#messages {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .message {
        padding: 1rem;

        background-color: var(--back-col-dark);
        border: 10rem solid var(--accent-col);
        border-radius: 0.5rem;

        h3 {
            color: var(--accent-col);
        }
    }
}

#message{
    padding: 1rem;

    background-color: var(--back-col-dark);
    border: 2px solid var(--accent-col);
    border-radius: 0.5rem;

    h3 {
        color: var(--accent-col);
    }
}


